body {
  background-color: white;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: #393939;
  font-family: Montserrat, sans-serif;
}

h1,
.education > h2,
.work-life > h2,
.references > h2 {
  color: #5c6e75;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-size: 250%;
  font-weight: 100;
  margin: 5vh 0;
}

.heading-4 {
  color: #777;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  justify-content: space-between;
  margin-top: -10px;
  text-align: left;
}

p, li {
  color: #393939;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
}

p {
  text-align: justify;
}

.education li {
  margin-bottom: 5px;
}

.header-placement {
  background-color: tomato;
  display: flex;
  justify-content: flex-end;
  max-width: inherit;
  position: absolute;
  right: -80px;
  top: -10vh;
  width: inherit;
}

header,
footer {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  justify-content: space-between;
}

header {
  background-color: #aab4b8;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #abb7bb99;
  color: #fff;
  max-width: inherit;
  overflow: hidden;
  opacity: 1;
  padding: 5px 80px;
  position: fixed;
  transition: max-width .3s ease-out;
  white-space: nowrap;
  width: inherit;
}

header span,
header a {
  opacity: 1;
  transition: opacity .5s .1s;
}

header .contact-details,
footer .contact-details {
  font-size: 11pt;
  position: relative;
  top: 2px;
}

.sticky-header {
  max-width: 20px;
  padding: 5px 6px;
}

.sticky-header span,
.sticky-header a {
  opacity: 0;
  transition: opacity .1s;
}

.sticky-header .E {
  opacity: 1;
  left: 4px;
  position: relative;
}

.sticky-header:hover {
  
}

header:hover {
  background-color: #5c6e75fa;
}

footer {
  color: #999;
  padding: 10vh 0 20px;
  position: relative;
  bottom: 0;
}

a {
  color: #d7f0fb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #1a2125
}

p a {
  color: #13678b;
}

p a:visited {
  color: #186786;
}

.divider {
  background-color: lightgray;
  height: 1px;
  width: 100%;

}

.main-container {
  margin: 15vh auto 0;
  max-width: 80ch;
  position: relative;
  width: 80vw;
}

.skills {
  display: flex;
}

.skills h3 {
  font-weight: 300;
  margin: 0 0 -10px 20px;
}

.skills > div {
  max-width: 27ch;
  width: fit-content;
}

.skills li {
  color: #393939;
  font-weight: 700;
  text-align: left;
}

.skills ul > ul {
  margin-left: -5ch;
}

.references > div {
  display: flex;
  justify-content: space-evenly;
}

.references p {
  text-align: left;
}

@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header .vertical-divider {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  p, li {
    text-align: left;
  }

  .heading-4 {
    max-width: 17ch;
    justify-content: start;
    flex-wrap: wrap;
  }

  .skills {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
  }

  .skills > div {
    max-width: unset;
  }

  .skills ul {
    display: grid;
    grid-template-columns: auto;
  }

  .references > div {
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
  }
}