/* BODY */
body {
  background-color: #f5f3ef;
  margin: 0;
  transition: background-color .3s;
}

.dim {
  background-color: #e4e0da;
}

.main-container {
  margin: 15vh auto 0;
  max-width: 80ch;
  position: relative;
  width: 80vw;
}

/* HEADINGS */
h1,
h2,
h3,
h4 {
  color: #393939;
  font-family: Montserrat, sans-serif;
}

h1,
.education > h2,
.work-life > h2,
.references > h2 {
  color: #557385;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-size: 250%;
  font-weight: 100;
  margin: 5vh 0;
}

.heading-4 {
  color: #777;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  justify-content: space-between;
  margin-top: -10px;
  text-align: left;
}

/* PARAGRAPHS and LIST ITEMS */
p, li {
  color: #393939;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
}

p {
  text-align: justify;
}

.education li {
  margin-bottom: 5px;
}

/* HEADER */
.header-placement {
  display: flex;
  justify-content: flex-end;
  max-width: inherit;
  position: absolute;
  right: clamp(-80px, -8.5vw, -40px);
  top: -10vh;
  width: inherit;
}

header {
  background-color: #99afbd;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #abb7bb99;
  color: #fff;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  justify-content: space-between;
  max-width: inherit;
  opacity: 1;
  overflow: hidden;
  padding: 5px clamp(40px, 8.5vw, 80px);
  position: fixed;
  transition: max-width .3s ease-out;
  white-space: nowrap;
  width: inherit;
}

header span,
header a {
  opacity: 1;
  transition: opacity .5s .1s;
}

header .contact-details {
  font-size: 11pt;
  position: relative;
  top: 2px;
}

header:hover,
.expanded-header {
  background-color: #8aa2b1;
}

.collapsed-header {
  max-width: 20px;
  padding: 5px 6px;
}

.collapsed-header span,
.collapsed-header a {
  opacity: 0;
  transition: opacity .1s;
  pointer-events: none;
}

.collapsed-header .E {
  opacity: 1;
  left: 4px;
  position: relative;
  transition: left .5s;
}

.cursor-blocker {
  background-color: transparent;
  display: block;
  width: 31px;
  height: 30px;
  z-index: 10;
  position: fixed;
}

/* LINKS */
a {
  color: #d7f0fb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #1a2125
}

p a {
  color: #13678b;
}

p a:visited {
  color: #186786;
}

/* SKILLS SECTION */
.skills {
  display: flex;
}

.skills h3 {
  font-weight: 300;
  margin: 0 0 -10px 20px;
}

.skills > div {
  max-width: 27ch;
  width: fit-content;
}

.skills li {
  color: #393939;
  font-weight: 700;
  text-align: left;
}

.skills ul > ul {
  margin-left: -5ch;
}

/* REFERENCES SECTION */
.references > div {
  display: flex;
  justify-content: space-evenly;
}

.references p {
  text-align: left;
}


/* FOOTER */
footer {
  bottom: 0;
  color: #557385;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  justify-content: space-between;
  padding: 10vh 0 20px;
  position: relative;
}

footer .contact-details {
  font-size: 11pt;
  position: relative;
  top: 2px;
}

.footer-personal,
.footer-links {
  display: contents;
}

/* WHEN HORIZONTAL NAVBAR DOESN'T FIT */
@media only screen and (max-width: 700px) {
  .main-container {
    margin-top: calc(80px + 10vh);
  }

  .header-placement {
    position: unset;
    max-width: 100%;
  }

  header,
  .collapsed-header {
    flex-direction: column;
    right: 2px;
    top: 5vh;
  }

  header {
    max-height: 6rem;
    padding-left: 90px;
    transition: max-width .2s ease-out, max-height .2s .2s ease-out;
  }

  .collapsed-header {
    max-height: 20px;
    transition: padding .2s .2s, max-width .2s .2s ease-out, max-height .2s ease-out;
  }

  header > *,
  .collapsed-header > * {
    position: relative;
    left: 5vw;
  }

  header .vertical-divider,
  footer .vertical-divider {
    display: none;
  }

  footer {
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer-personal {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .footer-links {
    display: inline;
  }
}

/* SMALL SCREENS */
@media only screen and (max-width: 520px) {
  /* HEADINGS */
  .heading-4 {
    max-width: 17ch;
    justify-content: start;
    flex-wrap: wrap;
  }

  /* PARAGRAPHS and LIST ITEMS */
  p, li {
    text-align: left;
  }

  /* HEADER */
  header,
  .collapsed-header {
    right: -2px;
  }

  /* SKILLS SECTION */
  .skills {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
  }

  .skills > div {
    max-width: unset;
  }

  .skills ul {
    display: grid;
    grid-template-columns: auto;
  }

  /* REFERENCES SECTION */
  .references > div {
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
  }
}